<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task3-Sreejith</title>
    <style>
        .feet{
            display: none;
        }
        #cm:checked ~ .cm {
            display: inline-block;
        }
         #cm:checked ~ .feet {
            display:none;
        }
        #ft:checked ~ .feet {
            display: inline-block;
        }
         #ft:checked ~ .cm {
            display: none;
        }
    </style>
</head>
<body>
    <form method="post" action="/task3">
        <label for="height">Height:</label>

        <input type="radio" id="cm" name="unit" value="cm" checked>
        <label for="cm">Centimeter</label>

        <input type="radio" id="ft" name="unit" value="ft">
        <label for="ft">Feet</label>
        <br>
        <br>
       
        <label class="cm">Height (cm):</label>
        <input class="cm" type="number" step="0.01" name="cm"  placeholder="Enter height in cm">
        <br>
        <br>
        
        <label class="feet">Feet:</label>
        <input class="feet" type="number" step="1"  name="feets" placeholder="Feet">
        <label class="feet">Inches:</label>
        <input class="feet" type="number" step="0.01" name="inches" placeholder="Inches">
        <br>
        <br>

        <label for="weight">Weight (kg):</label>
        <input type="number" step="0.01" id="weight" name="weight" placeholder="Enter weight" required>

        <button type="submit">Calculate BMI</button>
    </form>

    <div id="bmiResult">
        BMI: <span id="bmiValue">{{bmi}}</span>
    </div>

</body>
</html>

