<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sreejith</title>
</head>

<body>
    <h1>URL Shortner</h1>
    <br>
    <br>
    <form method="post" action="/task5/submit">
        <label>Link:</label>
        <input type="url" placeholder="Enter link to be shortened" name="link">
        <input type="submit">
    </form>
    <br>
    <br>
    <label>Shortened Link:</label>
    <a href={{realLink}}>{{shortLink}}</a>
</body>

</html>
